{{> head }}
{{> navbar}}

    <div class="row">
    <div class="col-8">
<h1>BMW D850GS ADVENTURE</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laudantium, cupiditate tempora ducimus voluptas eveniet asperiores, totam, eligendi qui molestias incidunt placeat dicta eum quis saepe voluptatibus debitis ut facere!
</p>
    </div>
        
    <div class="col-4">
        <img src="assets/img/bmw.jpg" class="img-thumbnail">
        
    </div>
    </div>
{{> footer}}